
.health_analyzer {

  .injury_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
  }

  .injury_entry {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
  }

  .injury_icon {
    width: 50px;
    height: 50px;

    background-color: #212637;
    border-radius: 25px;
    border: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
  }

}
