.health_analyzer {
  width: 100%;
  height: 100%;

  .interface_main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .side_bar {
    flex-grow: 1;

    overflow-y: scroll;
  }

  .body_overview {
    display: flex;
    flex-direction: column;

    padding-top: 10px;
  }

  .chart_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0px 5px;

    &.heart {
      color: lime;
    }

    &.oxygen {
      color: cyan;
    }

    &.blood {
      color: #ff8888;
    }

    &.pain {
      color: yellow;
    }
  }

  svg {
    .areaPath {
      fill: none;
      stroke: none;

      &:has(+ .areaHitbox:hover) {
        stroke: rgb(255, 248, 56);
        animation: none;
      }
    }

    :not(.areaHitbox) {
      pointer-events: none;
    }
  }

  .chart {
    width: 100%;
    height: 40px;
  }

  .injury_row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }

  .injury_entry {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100px;
  }

  .injury_icon {
    width: 50px;
    height: 50px;

    background-color: #212637;
    border-radius: 25px;
    border: 5px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes damaged {
  0% {
    fill-opacity: 0.3;
  }
  50% {
    fill-opacity: 0.5;
  }
  100% {
    fill-opacity: 0.3;
  }
}
